<h4>Cart Page</h4>
<% current_cart.items.each do |item| %>
  <p><%= item.name %> <%= item.quantity %></p>
<% end %>
<p><%= link_to "Back to Products", products_path %></p>
<p><%= link_to "Checkout", checkout_path %></p>

