<h4>Products Page</h4>
<% @products.each do |product| %>
  <p>
    <%= product.name %>
    <%= render partial: 'add', locals: { product: product } %>
  </p>
<% end %>
<%= link_to "Go to cart", cart_path %>
